{
    "openapi": "3.1.0",
    "info": {
        "title": "Arisk API (中文)",
        "description": "Arisk API - 链上交易风险分析平台",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.arisk.com/v1",
            "description": "生产环境服务器"
        },
        {
            "url": "https://api-sandbox.arisk.com/v1",
            "description": "沙箱环境服务器"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/analyze/address": {
            "post": {
                "summary": "分析地址",
                "description": "分析单个区块链地址的风险等级。",
                "operationId": "analyzeAddress",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyzeAddressRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "分析成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyzeAddressResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "请求无效",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "未授权"
                    },
                    "429": {
                        "description": "超出速率限制"
                    }
                }
            }
        },
        "/analyze/batch": {
            "post": {
                "summary": "批量分析",
                "description": "单次请求分析多个区块链地址（最多 100 个）。",
                "operationId": "batchAnalyze",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchAnalyzeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "批量分析成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchAnalyzeResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "请求无效"
                    }
                }
            }
        },
        "/monitor/create": {
            "post": {
                "summary": "创建监控",
                "description": "为地址创建实时监控。",
                "operationId": "createMonitor",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateMonitorRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "监控创建成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MonitorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/monitor/{monitor_id}": {
            "delete": {
                "summary": "删除监控",
                "description": "停止监控某个地址。",
                "operationId": "deleteMonitor",
                "parameters": [
                    {
                        "name": "monitor_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "要删除的监控 ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "监控删除成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "monitor_id": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "deleted"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "未找到监控"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key"
            }
        },
        "schemas": {
            "AnalyzeAddressRequest": {
                "type": "object",
                "required": [
                    "address",
                    "chain"
                ],
                "properties": {
                    "address": {
                        "type": "string",
                        "description": "要分析的区块链地址"
                    },
                    "chain": {
                        "type": "string",
                        "enum": [
                            "ethereum",
                            "bitcoin",
                            "bsc",
                            "polygon",
                            "tron",
                            "solana"
                        ],
                        "description": "区块链网络"
                    },
                    "options": {
                        "type": "object",
                        "properties": {
                            "include_labels": {
                                "type": "boolean",
                                "default": true,
                                "description": "是否包含标签"
                            },
                            "include_risk_factors": {
                                "type": "boolean",
                                "default": true,
                                "description": "是否包含风险因子"
                            }
                        }
                    }
                }
            },
            "AnalyzeAddressResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "address": {
                                "type": "string"
                            },
                            "chain": {
                                "type": "string"
                            },
                            "risk_score": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 100,
                                "description": "风险评分 (0-100)"
                            },
                            "risk_level": {
                                "type": "string",
                                "enum": [
                                    "low",
                                    "medium",
                                    "high",
                                    "critical"
                                ],
                                "description": "风险等级"
                            },
                            "labels": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                },
                                "description": "地址标签"
                            }
                        }
                    }
                }
            },
            "BatchAnalyzeRequest": {
                "type": "object",
                "required": [
                    "addresses",
                    "chain"
                ],
                "properties": {
                    "addresses": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "maxItems": 100,
                        "description": "要分析的地址列表"
                    },
                    "chain": {
                        "type": "string"
                    },
                    "options": {
                        "type": "object",
                        "properties": {
                            "parallel": {
                                "type": "boolean",
                                "default": true,
                                "description": "是否并行处理"
                            }
                        }
                    }
                }
            },
            "BatchAnalyzeResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "results": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "address": {
                                            "type": "string"
                                        },
                                        "risk_score": {
                                            "type": "integer"
                                        },
                                        "risk_level": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "summary": {
                                "type": "object",
                                "properties": {
                                    "total": {
                                        "type": "integer"
                                    },
                                    "high_risk": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "CreateMonitorRequest": {
                "type": "object",
                "required": [
                    "address",
                    "chain",
                    "webhook_url"
                ],
                "properties": {
                    "address": {
                        "type": "string"
                    },
                    "chain": {
                        "type": "string"
                    },
                    "webhook_url": {
                        "type": "string"
                    },
                    "events": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "要监控的事件类型"
                    }
                }
            },
            "MonitorResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "monitor_id": {
                                "type": "string"
                            },
                            "status": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "Error": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "message": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    }
}